* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde_oliva: #c9f2e7;
    --mostaza: #f2be5c;
    --menta: #a4ffd8;
    --azul_cielo: #6be7ed;
    --verde: #70E0A6;
    --verde_laguna: #246F75;
    --opcion: #1b2945;
    --opcion2: #03a4ac;
    --opcion3: #235bc4;
    --celeste: #97EFF7;
    --white: #ffffff;
    --black: #000000;
}

.Poppins {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}

.Spartan {
    font-family: 'League Spartan', sans-serif;
    color: rgb(0, 0, 0);
}

.IBM {
    font-family: 'IBM Plex Sans', sans-serif;
}

.section {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./Fondo.jpg);
    background-size: cover;
    background-position: center center;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    opacity: 0.95;
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}

/* h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
} */

.h1TextoTitulo{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

input {
    border-radius: 10px;
    font-size: 0.8rem;
    border-color: var(--verde_oliva);
}

.submit {
    background-color: var(--verde_oliva);
}

.control input {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #222;
    /*border: none;*/
    margin: 1em 0;
    transition: .3s ease all;
}

.control input [type="submit"] {
    color: #fff;
    font-size: 1.2em;
    opacity: 0.7;
    cursor: pointer;
}

.control input [type="submit"]:hover {
    opacity: 1;
    color: #5cbdf2;
    background: linear-gradient(27deg, #34495e);
}

.link {
    text-align: center;
}

.link a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.link a:hover {
    opacity: 1;
}

.crearcuenta {
    text-decoration: none;
    color: rgb(59, 19, 19);
    opacity: 1;
    transition: opacity .3s ease;
}

.input-IniciarS {
    background-color: #97EFF7;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}


/* Poner estilos dentro del estilo de la clase formulario-input */

.input-Usuario::placeholder {
    background-image: url(../Img/usuario\ \(2\).png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    text-align: center;
}

.input-contraseña::placeholder {
    background-image: url(../Img/bloquear.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    text-align: center;
}


/* Termina */

.bodyTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


/* Estilo pestaña Admin_escuestador */

.color-titulo {
    color: rgb(0, 0, 0);
}

.color-fondo {
    background-color: var(--white);
}

.bg-vo {
    background-color: var(--verde_oliva);
}

.bg-blanco {
    background-color: var(--white);
}

.bg-text-blanco {
    color: var(--white) !important;
}

.bg-border-mostaza {
    border-color: var(--mostaza) !important;
}

.bg-text-mostaza {
    color: var(--mostaza) !important;
}

.bg-text-black {
    color: var(--black) !important;
}

#Contraseña::placeholder{
  background-image: url(../Img/bloquear.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 1rem center;
  text-align: center;
}
#Contraseña2::placeholder{
  background-image: url(../Img/bloquear.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 1rem center;
  text-align: center;
}


#Correo::placeholder{
  background-image: url(../Img/gmail.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 1rem center;
  text-align: center;
}


#contra::placeholder {
    background-image: url(../Img/bloquear.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    text-align: center;
}

#tel::placeholder {
    background-image: url(../Img/Icono-Telefono.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    text-align: center;
}

#correo::placeholder {
    background-image: url(../Img/gmail.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 1rem center;
    text-align: center;
}
/* Estilos de botones */

#boton-enviar:hover {
    background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important;
}
#boton-duplicar:hover {
    background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important;
}

#boton_filtrar:hover {
    background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important; 
}
#boton_crear:hover {
    background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important;
}
#boton_agregar:hover {
    background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important;
}
#boton_listo:hover {
    background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important;
}

#botonEmergente_editar:hover{
    background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important;
}
#botonEmergente_duplicar:hover{
background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important;
}

/* Termina */
.form-control {
    background-color: #E8EEEB;
    opacity: 0.8;
}


/* termina diseño de encuestador*/


/* Diseño de pestaña de escuestado */

#contra-encuestado::placeholder{
  background-image: url(../Img/bloquear.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 1rem center;
  text-align: center;
}
#contra-encuestado2::placeholder{
  background-image: url(../Img/bloquear.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 1rem center;
  text-align: center;
}
#tel-encuestado::placeholder{
  background-image: url(../Img/Icono-Telefono.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 1rem center;
  text-align: center;
}
#Email-encuestado::placeholder{
  background-image: url(../Img/gmail.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 1rem center;
  text-align: center;
}

/*Termina */
/* codigo menu de componentes index */
#menu_sidebar{
    text-decoration-color: #000 !important;
    color: #000 !important;
}
#menu_plegable_sidebar{
    background-color: var(--mostaza) !important;
    color: rgb(255, 255, 255) !important;
    border-color: var(--mostaza) !important;
}

/* diagonal de la tabla */
/* variable seleccionar variable */


.linea {
  margin: auto;
  width: 90%;
  border-top: 1px solid #000;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(10deg);
}

.diagonal {
  width: 130px;
  height: 40px;
}

.diagonal span.arriba {
  position: absolute;
  top: 2px;
  left: 2px;
}

.diagonal span.abajo {
 position:absolute;
  bottom: 2px;
  right: 2px;
  z-index: 2;
}