* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --verde_oliva: #c9f2e7;
  --mostaza: #f2be5c;
  --menta: #a4ffd8;
  --azul_cielo: #6be7ed;
  --verde_hoja: #22ad64;
  --verde: #70E0A6;
  --verde_laguna: #246F75;
  --opcion: #1b2945;
  --opcion2: #03a4ac;
  --opcion3: #235bc4;
  --celeste: #97EFF7;
  --white: #ffffff;
  --black: #000000;
}
.Poppins {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
}

.Spartan {
  font-family: 'League Spartan', sans-serif;
  color: rgb(0, 0, 0);
}


.IBM {
  font-family: 'IBM Plex Sans', sans-serif;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
  #mainNav {
    background-color: #ffffff;
  }
  .sticky-top{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
  }
  .navbar .nav-item .nav-link {
    color: rgb(0, 0, 0);
  }
.nav-link{
    display: block;
    padding: 0.5rem 1rem;
    color: #f2be5c;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .nav-link {
      transition: none;
    }
  }
  #mainNav  .nav-link:hover, .nav-link:focus {
    color: #f2be5c;
  }
  #mainNav .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;

}
#mainNav .navbar-brand {
  color: #f2be5c;
  font-weight: 700;
  padding: 0.75rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 0.95rem;
  color: rgb(0, 0, 0);
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #f2be5c;
}


.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #f2be5c;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
  
  .masthead {
    position: relative;
    background-image: url("../pestanas_Encuestado/Img/5.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 550px;
  }
  .masthead2 {
    position: relative;
    background-image: url("../pestanas_Encuestado/Img/4.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 550px;
  }
  
  .background-overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center-h1 {
  display:flex;
  justify-content: center; 
  align-items: center;  
  text-align: center;
  height: 100%;
  width: 50%;
  }
  
  .form-control, .btn{
    border-radius: 0;
  }
  
  .team, footer {
    background: #c9f2e7;
  }
  .footerB{
    background: #f2be5c;
    color: #ffffff;
    text-align: center;
    font-size: 0.75em;
  }

  .btn {
    background-color: #f2be5c;
    border: #f2be5c;
    width: 150px;
    height: 40px;
    margin: 4px 2px;
    border-radius: 1rem;
  }

  .btnn {
    background-color: #f2be5c;
    text-align: center;
    border: #f2be5c;
    width: 150px;
    height: 40px;
    margin: 4px 2px;
    border-radius: 1rem;
  }

  .btn-dark {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .btn-dark:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
  }
  .section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/pestanas_Encuestado/Img/2.jpg);
    
}

.form-container {
    position: relative;
    background-color: #ffffff;
    opacity: 0.95;
    width: 680px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.main__form{
  display: grid;
  justify-items: center;
  gap: 1.5em;
}

.form-control{
  display: block;
  width: 80%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #eeeeee;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main__title{
  font-size: 2.3rem;
}

.p_top{
  margin-top: 1rem;
}
.link-card{
  color: var(--opcion2);
  right: 1rem;
  display: block;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  bottom: 1rem;
  position: absolute;
}

.link-card:hover{
  color: var(--mostaza);
  right: 1rem;
  display: block;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  bottom: 1rem;
  position: absolute;
  
}
.card{
  height: 520px;
}
.card-titulo{
  height: 90px;
  overflow: auto;
  padding: 0rem 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.card-titulo::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}
.card-titulo::-webkit-scrollbar {
  width: 8px;
}

.card-titulo::-webkit-scrollbar-thumb:active {
  background-color: #ebebeb;
}

.card-titulo::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

 /* Estilos track de scroll */
.card-titulo::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 4px;
}

.card-titulo::-webkit-scrollbar-track:hover, 
.card-titulo::-webkit-scrollbar-track:active {
  background: #e3e3e3;
}

.card-texto{
  overflow: auto;
  text-align: justify;
  height: 150px;
  padding: 0.2rem 1rem;
}

.card-texto::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 4px;
}
.card-texto::-webkit-scrollbar {
  width: 8px;
}

.card-texto::-webkit-scrollbar-thumb:active {
  background-color: #ebebeb;
}

.card-texto::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
  
}

 /* Estilos track de scroll */
.card-texto::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 4px;
}

.card-texto::-webkit-scrollbar-track:hover, 
.card-texto::-webkit-scrollbar-track:active {
  background: #e3e3e3;
}
.xd{
  background:var(--white);
  border-color: var(--white);
  height: 30px;
  width: 100%;
  resize: none;
}


/*Parte planes*/

.header-w3l {
  padding: 3em 0;
  text-align: center;
}
.header-w3l h1{
font-size:3em;
  color:#fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
margin-bottom: 20px;
  text-transform: capitalize;
}
h3 span {
  text-transform: uppercase;
}
li {
  font-size: 16px;
  color: #fff;
margin: 5px 0;
  letter-spacing: 2px;
  text-transform: capitalize;
}
/*--//header--*/

/*-- pricing --*/
.pricing{
padding: 1em 0 2em;
}
.w3l-pricing-grids {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

}
h3.heading {
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 1em;
  text-transform: capitalize;
}
h3.heading span{
  font-weight: 400;
  color: #00BCD4;
border-bottom: 2px solid #00BCD4;
}
.agileits-pricing-grid {
flex: 1;
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  width: 20%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
margin:0 5px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.agileits-pricing-grid:hover {
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -o-transform: scale(1.06);
  -ms-transform: scale(1.06);
  z-index: 1;
}
.pricing-top{
  padding: 2em 0 0;
  background: #e04646;
  text-align: center;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
}
.blue-top{
  background: var(--mostaza)!important;
}
.green-top{
  background: var(--verde) !important;
}
.yellow-top{
  background: var(--verde_hoja) !important;
}

.pricing-top h3{
color: #FFF;
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wthree-pricing-info{
  padding: 2em 0;
}
.wthree-pricing-info p{
color:#FFFFFF;
font-size:1em;
margin:0;
text-align:center;
}
.wthree-pricing-info p span{
  font-size: 4em;
  font-weight: 600;
}
.pricing-bottom{
  background: #FFF;
  padding: 0em 0 2em 0em;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
}
.pricing-bottom-top {
  padding: 1em 0;
  background: #fd5c63;
}
.pricing-bottom-top p{
  color: #212121;
  margin: 0;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 600;
  text-transform: uppercase;
}
.pricing-bottom-bottom{
  padding: 3em 2em;
}
.pricing-bottom-bottom p{
color: #333;
  font-size: 15px;
  margin: 0 0 1em 0;
}
.buy-button {
  margin-bottom: 15px;
  text-align: center;
}
.pricing-bottom-bottom p span{
font-weight: 700;
color: #333;
letter-spacing: 1px;
}
.pricing-bottom-bottom p span.fa {
  width: 25px;
  color: #656565;
  font-weight: 100;
}
.first p span.fa {
  color: #c73a40;
}
.second p span.fa {
  color: #0091cd;
}
.third p span.fa {
  color: #00ad45;
}
.fourth p span.fa {
  color: #fb8a2e;
}
p.text {
  margin-bottom: 0;
}
.buy-button a{
  background: var(--verde_hoja);
  padding: .5em 1.5em;
border: solid 1px var(--verde_hoja);
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

    text-decoration: none;
}
.buy-button a:hover{
background: none;
border: solid 1px var(--verde_hoja);
color:var(--verde_hoja);
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
text-decoration: none;

}
.first .buy-button a{
background: #c73a40;
border: solid 1px #c73a40;
}
.first .buy-button a:hover{
background: none;
border: solid 1px #c73a40;
color: #c73a40;
}
.second .buy-button a{
background: var(--mostaza);
border: solid 1px  var(--mostaza);
}
.second .buy-button a:hover{
  background: none;
  border: solid 1px var(--mostaza);
  color: var(--mostaza);
  }
.third .buy-button a{
background:  var(--verde);
border: solid 1px  var(--verde);
}
.third .buy-button a:hover{
background: none;
border: solid 1px var(--verde);
color: var(--verde);
}
.blue-pricing-bottom-top{
}
.blue-pricing-bottom-top:nth-child(2){
border-top: solid 1px #1085bf;
}
.green-pricing-bottom-top{
}
.green-pricing-bottom-top:nth-child(2){
  border-top: solid 1px #609835;
}
/*-- //pricing --*/
#small-dialog,#small-dialog1,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5{
  background: white;
  padding: 0;
  max-width: 500px;
  margin: 39px auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
}
/* start state */
.my-mfp-zoom-in #small-dialog {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}
/**

/*-- // pricing --*/


/*--responsive--*/
@media(max-width: 1024px){
.pricing-bottom-bottom {
  padding: 2em 1.5em;
}
}
@media(max-width: 900px){
.wthree-pricing-info p span {
  font-size: 3em;
}
.pricing-bottom-bottom p span.fa {
  width: 20px;
  font-size: 13px;
}
.pricing-bottom-bottom {
  padding: 2em 1em;
}
.pricing {
  padding: 0em 0 1em;
}
}
@media(max-width: 800px){
.w3l-pricing-grids {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
.agileits-pricing-grid {
  flex: inherit;
  -webkit-box-flex: inherit;
  -moz-box-flex: inherit;
  width: 35%;
  -webkit-flex: inherit;
  -ms-flex: inherit;
  margin: 10px 10px;
}
.pricing-bottom-bottom {
  padding: 2em 2em;
}
.header-w3l h1 {
  font-size: 2.7em;
}
}
@media(max-width: 667px){
.agileits-pricing-grid {
  width: 40%;
}
.header-w3l h1 {
  font-size: 2.5em;
}

.header-w3l {
  padding: 2em 0;
}
}
@media(max-width: 600px){
.agileits-pricing-grid {
  width: 45%;
}
}
@media(max-width: 480px){
.pricing-bottom-bottom {
  padding: 2em 1em;
}
.agileits-pricing-grid {
  width: 46%;
  margin: 10px 5px;
}
.header-w3l h1 {
  font-size: 2em;
}
}
@media(max-width: 414px){
.agileits-pricing-grid {
  width: 65%;
}
.header-w3l h1,.signin-form h3 {
  font-size: 1.8em;
  letter-spacing: 1px;
}
}
@media(max-width: 384px){
.agileits-pricing-grid {
  width: 70%;
}
.header-w3l h1,.signin-form h3 {
  font-size: 1.6em;
  letter-spacing: 0px;
}
.signin-form {
  padding: 2em 3em;
}
}
@media(max-width: 320px){
.agileits-pricing-grid,.signin-form h3 {
  width: 80%;
}
.header-w3l h1 {
  font-size: 1.5em;
}
.signin-form {
  padding: 2em;
}
}
/*Noticias */

.form-file {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 20px;
}
.form-file__action {
  width: 100%;
}
.form-file__action label {
  display: block;
}
.form-file__action label.title {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}
.form-file__action input {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
}
.form-file__result {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 180px;
  background-color: #f2f0f0;
  border-radius: 8px;
  border: 1px dashed #c5c5c5;
  z-index: 10;
}
.form-file__result::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #797979;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-file__result img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 50;
}
.form-file__result--active {
  background-color: rgba(82, 81, 79, 0.314);
}


  
 